.portfolio-item {
	background-color: $white;
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
	border: 1px solid $border-color;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.portfolio-item:hover {
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	transform: translateY(-4px);
	box-shadow: 5px 9px 10px rgba(darken($body-bg, 50%), 0.2), -5px -1px 10px rgba($white, 0.4);
}

.portfolio-btn {
	padding: 5px 8px;
	border-radius: 5px;
}

.portfolio-card-title {
	color: darken($body-color, 20%) !important;
}

.modal-dialog {
	max-width: 650px !important;
}

.modal-content {
	background-color: $white;
}

.badge-custom {
	text-decoration: none;
	@include shadow();
	box-shadow: none;
}

.badge-custom:hover {
	background-color: lighten($gray-300, 5%) !important;
}

.info-btn-custom {
	color: inherit;
	border: none;
	border: 1px $dark !important;
	box-shadow: none;
}

.info-btn-custom:hover {
	// color: darken($body-color, 20%) !important;
	background-color: lighten($body-color, 20%) !important;
	box-shadow: none;
}
.info-btn-custom:focus,
.info-btn-custom:active .btn-close:focus,
.btn-close:active {
	box-shadow: none;
}
