.portfolio-item {
	background-color: $white;
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
	border: 1px solid $border-color;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.portfolio-item:hover {
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	transform: translateY(-4px);
	box-shadow: 5px 9px 10px rgba(darken($body-bg, 50%), 0.15), -5px -1px 10px rgba($white, 0.35);
}

.portfolio-card-title {
	color: darken($body-color, 20%) !important;
}

.modal-dialog {
	max-width: 650px !important;
}

.modal-content {
	background-color: $white;
}

.badge-custom {
	text-decoration: none;
	color: $gray-900 !important;
	background-color: $gray-300 !important;
	font-size: 14px;
	@include shadow();
	box-shadow: none;
	margin-left: 30px;
	margin-right: 30px;
}

.badge-custom:hover {
	color: lighten($gray-900, 15%) !important;
	background-color: lighten($gray-300, 5%) !important;
}

.portfolio-btn-custom {
	background-color: $gray-100 !important;
	border: none;
	text-decoration: none;
	@include shadow();
	box-shadow: none;
}

.portfolio-btn-custom:hover {
	background-color: lighten($gray-300, 5%) !important;
	box-shadow: none;
}

.portfolio-close-btn {
	padding: 5px 10px;
	border-radius: 5px;
}

.portfolio-btn-custom:focus,
.portfolio-btn-custom:active,
.btn-close:focus,
.btn-close:active {
	box-shadow: none;
}

@include media-breakpoint-down(lg) {
	.badge-custom {
		padding: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}
}

@include media-breakpoint-down(sm) {
	.badge-custom {
		font-size: 13px;
		padding: 8px;
	}
}
