// import custom bootstrap & component-specific styles
@import 'styles/_custom.scss';
@import 'components/Portfolio.scss';
@import 'components/Skillset.scss';

#main-content {
	margin-top: 165px;
}

.header-social-icons {
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.social-link,
.social-link:hover,
.social-link:focus,
.social-link:active {
	color: inherit;
	text-decoration: none !important;
}

.card-link,
.card-link:hover,
.card-link:focus,
.card-link:active {
	text-decoration: none !important;
}

.header-social-icons:hover {
	-webkit-transform: translateY(-15%);
	-moz-transform: translateY(-15%);
	-ms-transform: translateY(-15%);
	-o-transform: translateY(-15%);
	transform: translateY(-15%);
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.polaroid img {
	display: inline-block;
	max-width: 240px;
	border-radius: 100%;
	margin: 0 auto;
}

.polaroid span {
	background: $white;
	display: inline-block;
	margin-top: 30px;
	text-align: center;
	text-decoration: none;
	z-index: 0;
	position: relative;
	border-radius: 100%;
	border: 1px $border-color solid;
}

#typingAreaContainer {
	display: inline-block;
	margin: 0 auto;
	min-width: 180px;
	max-width: 250px;
}

#typingAreaDiv {
	width: 100%;
	white-space: nowrap; /* Keeps the content on a single line */
	display: inline-block;
	background-color: $white;
	border: 1.5px solid $border-color;
	padding: 0.4em;
	border-radius: $border-radius-pill;
	margin: 20px auto 0 auto;
}

#terminalSymbol {
	display: inline;
}

#typingArea {
	display: inline-block;
	white-space: nowrap;
}

#typingCursor {
	overflow: hidden;
	display: inline-block;
	height: 1.1em;
	vertical-align: middle;
	border-right: 0.4em solid $gray-900; /* The typwriter cursor */
	letter-spacing: 0.4em;
	animation: blink-caret 0.75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: $gray-900;
	}
}

#about-me-card {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

#about-me-card-header {
	background: #6d6d6d;
	color: white;
	height: 20px;
	align-items: center;
}

#about-me-content {
	font-family: 'IBM Plex Mono', monospace;
	height: auto;
	background: $white;
}

#about-icon-div {
	top: 0;
	left: 0;
	padding: 3px 0;
	margin-left: 5px;
}

#pronounciation {
	color: $gray-600;
}

.collapsed-nav-header {
	height: 45px;
	margin: 0.5em auto;
	padding: 0.5em 0;
	display: none;
}

#name-title-collapse {
	font-size: 3em;
	height: 8vh;
}

#nav-toggle-btn {
	box-shadow: none;
	border-radius: 0;
	border: 0;
	background-color: inherit;
	color: $link-color;
	position: absolute;
	left: 0;
}

#nav-toggle-btn:hover {
	color: $gray-600;
}

.rotate {
	transform: rotate(90deg);
	transition: all 0.3s ease;
}

.rotate-opposite {
	transition: all 0.3s ease;
}

.show-nav {
	height: 100% !important;
	max-height: 161px;
}

.hide-nav {
	height: auto;
	max-height: 0;
	overflow: hidden;
}

.btn-close:focus,
.btn-close:active {
	box-shadow: none;
}

.intial-page-load {
	animation: fadein 0.8s ease;
}

hr {
	border-top: 1px $gray-800 solid;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@include media-breakpoint-down(lg) {
	#main-content {
		margin-top: 66px;
	}

	.normal-nav-custom {
		transition: all 0.3s ease;
		height: 0;
		overflow: hidden;
	}

	.collapsed-nav-header {
		display: inline;
	}

	.nav-item {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.nav {
		display: flex;
		flex-direction: column;
		top: 0 !important;
		border-bottom: 1px solid $border-color;
		& {
			background-color: $gray-300;
		}
	}

	#name-title-collapse {
		display: none !important;
	}

	#name-title-expand {
		display: inline;
	}

	.polaroid img {
		max-width: 160px;
	}
}

// Device fixes
@import 'styles/_device-fixes.scss';
