@import 'styles/_custom.scss';

#main-content {
	margin-top: 165px;
}

.vertical-align-social {
	-ms-transform: translateY(-20%);
	transform: translateY(-20%);
}

.header-social-icons {
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.social-link,
.social-link:hover,
.social-link:focus,
.social-link:active {
	color: inherit;
	text-decoration: none !important;
}

.header-social-icons:hover {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.header-social-icons:active {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.polaroid img {
	display: inline-block;
	max-width: 180px;
	border-radius: 100%;
	margin: 0 auto;
}

.polaroid span {
	background: $white;
	display: inline-block;
	margin-top: 2em;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	z-index: 0;
	position: relative;
	border-radius: 100%;
}

#typingAreaContainer {
	display: inline-block;
}

#typingAreaDiv {
	width: 70%;
	white-space: nowrap; /* Keeps the content on a single line */
	display: inline-block;
	background-color: $white;
	border: 1px solid $gray-400;
	padding: 0.4em;
	border-radius: $border-radius-pill;
	margin: 2em;
}

#terminalSymbol {
	display: inline;
}

#typingArea {
	display: inline-block;
	white-space: nowrap;
}

#typingCursor {
	overflow: hidden;
	display: inline-block;
	height: 1.1em;
	vertical-align: middle;
	border-right: 0.4em solid $gray-700; /* The typwriter cursor */
	letter-spacing: 0.4em;
	animation: blink-caret 0.75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: $gray-700;
	}
}

#aboutMeCard {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

.collapsed-nav-custom {
	height: 45px;
	margin: 0.5em auto;
	padding: 0.5em 0;
	display: none;
}

#name-title-collapse {
	font-size: 3em;
	height: 8vh;
}

#nav-close {
	display: none;
}

#nav-toggle-btn {
	box-shadow: none;
	border-radius: 0;
	border: 0;
	background-color: inherit;
	color: $link-color;
	position: absolute;
	left: 0;
}

#nav-toggle-btn:hover {
	color: $gray-600;
}

.show-nav {
	height: 30px !important;
	transition: all 0.5s ease;
}

.hide-nav {
	height: 0 !important;
	transition: all 0.5s ease;
}

@include media-breakpoint-down(md) {
	#main-content {
		margin-top: 66px;
	}

	.normal-nav-custom {
		line-height: 10px;
		height: 0;
		overflow: hidden;
	}

	.collapsed-nav-custom {
		display: inline;
	}

	#nav-close {
		// display: inline;
	}

	#name-title-collapse {
		display: none !important;
	}

	#name-title-expand {
		display: inline;
	}

	.polaroid img {
		max-width: 120px;
	}
}

// Device fixes
@import 'styles/_device-fixes.scss';
